*.png
*.pyc
*.token

**/__pycache__/

*.log
*.nl

**.back
**.XXX
pyomo-everest/examples/
pyomo-everest/ssop/miscTest/
test/tmp/*
TMP/
test/tmp

SvF_UserGuide28v01.docx.bak
Цитировать.odt
SvF.zip

**/results.zip
**/results/
